{% extends 'base.html.twig' %}

{% block title %}
    Création d'un Model
      {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Création d'un Model</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
     <button type="submit">Créer</button>
     {{ form_end(form) }}
     <a href=" {{ path('app.admin.model.index') }} " class="btn btn-primary">Retour</a>
{% endblock %}
