<header>
    <nav class="navbar">
        <a href="{{ path('home')}}">Accueil</a>
        <a href="{{ path('app.login') }}">Login</a>
        <a href=" {{ path('app.admin.users.index') }}">Admin</a> 
        <a href=" {{ path('app.admin.gender.index') }}">Genre</a> 
        <a href="{{ path('app.admin.model.index') }}">Model</a>
    </nav>
</header>